.header {
    color: white;
    position: absolute;
    top: 0;
    left: 50vw;
}

body {
    background-color: #757B93;
    margin: 0px;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
}

img {
    opacity: 50%;
    height: 500px;
    width: 100%;
}

.contact {
    border: 10px solid #464C65;
    font-size: 20px;
    background-color: #464C65;
    height: 170px;
    color: white;
    line-height: 50%;
}


