body {
    background-color: #B4A8B5;
    margin: 0px;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
}

img {
    opacity: 60%;
    height: 100vh;
    position: relative;
}

.contact {
    font-size: 20px;
    background-color: #B4A8B5;
    color: #5B305F;
    top: 0;
    font-family: serif;
}

.poscontact {
    margin-left: 20px;
    color: #5B305F;
}

.contactdropdown {
    background-color: #B4A8B5;
    border: 0px; 
}

.button {
    text-align: left;
    border: 0px;
}

.contact:hover {
    background-color: #5B305F;
    color: #B4A8B5;
    border: 0px;
}

.text {
    position: absolute;
    margin-top: 637px;
    z-index: 1;
    color: #5B305F;
    border: 3px solid #5B305F;
    background-color: rgba(180, 168, 181, .7)
}
