.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh;
    grid-gap: 10px;
    color: #444;
    justify-content: space-between;
    margin-top: 100px;
}

div.experience {
    background-color: rgba(91, 48, 95, 0.2);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

/* I combined a class and a tag to prove I can use them combined for Lab03 */

.header {
    color: white;
    position: absolute;
    top: 0;
    left: 50vw;
}

img {
    width: 80%;
    max-height: 80vh;
    height: auto;
    justify-self: center;
}

p {
    text-align: center;
}