.header {
    color: white;
    text-align: center;
}

body{
    background-color: #757B93;
}

img {
    display: block;
    position: static;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    height: 35%;
    width: 35%;
}

ul {
    text-align: center;
    list-style: none;
    font-size: 20px;
}

a {
    color: white;
}

/*I connected each page to this CSS sheet, as well as their own, to avoid repeating code like I did in lab04*/