.header {
    color: white;
    text-align: center;
}

.body{
    background-color: #757B93;
}

img {
    display: block;
    position: static;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    height: 35%;
    width: 35%;
}

ul {
    color: white;
    text-align: center;
    list-style: none;
    font-size: 20px;
}
